<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon" />
    <title>About|PhishGuardian</title>
    <link rel="stylesheet" href="/static/about.css" />
  </head>
  <body>
    <div class="heading">
      <h1>About Us</h1>
      <p>
        PhishGuardian, utilizes advanced technology to detect and combat
        phishing attempts.
      </p>
    </div>
    <div class="container">
      <section class="about">
        <div class="about-image">
          <img src="/static/img/33.png " alt="PhishGuardian logo" />
        </div>
        <div class="about-content">
          <h2>PhishGuardian, Safeguarding your journey against Phishing.</h2>
          <p>
            Welcome to PhishGuardian, a Random Forest-based Phishing Website
            Detection and Reporting System developed by students from BMS
            Institute of Technology and Management (BMSIT&M) College, pursuing
            their Bachelor's degree in Computer Science and Engineering (CSE).
          </p>
          <br />
          <p>
            At PhishGuardian, we are dedicated to combating the growing threat
            of phishing attacks by leveraging advanced machine learning
            techniques. With a passion for cybersecurity and a commitment to
            innovation, our team has developed a user-friendly platform that
            empowers individuals and organizations to identify and report
            phishing websites effectively.
          </p>
          <br />
          <p>
            Our mission is to enhance online security and protect users from
            falling victim to phishing scams. By harnessing the power of Random
            Forest algorithms and incorporating user feedback, we strive to
            create a reliable and efficient system for detecting malicious
            websites.
          </p>
          <br />
          <p>
            Join us in our journey to make the internet a safer place for
            everyone. Together, let's guard against phishing attacks and
            safeguard the integrity of online interactions.
          </p>
          <br />
          <h3>Contributers</h3>
          <p>
            Ullas B K (1BY20CS209) <br />
            Ravi Kiran Poudel (1BY20CS147) <br />
            Ramchandra Paudel (1BY20CS145) <br />
            Amarnath Mahato (1BY20CS019)
          </p>
          <br />
          <h3>Under the Guidance of</h3>
          <p>
            Mr. Rajesh N V <br />
            Assistant Professor <br />
            BMSIT&M
          </p>

          <a href="/about" class="button">Read Less</a>
        </div>
      </section>
    </div>
  </body>
</html>
