<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/faq.css" />
    <title>FAQ|PhishGuardian</title>
  </head>
  <body>
    <!--
    <div class="container">
      <h1>Frequently Asked Questions?</h1>
      <div class="tab">
        <input type="radio" name="acc" id="acc1" />
        <label for="acc1">
          <h2>01</h2>
          <h3>What is Phishing website?</h3>
        </label>
        <div class="content">
          <p>
            A phishing website is a fraudulent website that mimics legitimate
            websites to deceive users into divulging sensitive information such
            as login credentials, credit card details, or personal information.
            These deceptive websites often employ social engineering tactics,
            such as fake login pages or email phishing campaigns, to trick users
            into believing they are interacting with a trusted entity. Phishing
            websites pose a significant threat to online security and can lead
            to identity theft, financial loss, or other cybercrimes if users
            unknowingly provide their information.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc2" />
        <label for="acc2">
          <h2>02</h2>
          <h3>What is PhishGuardian?</h3>
        </label>
        <div class="content">
          <p>
            PhishGuardian is a cutting-edge system developed by our team at
            BMSIT&M College, designed to detect and report phishing websites
            using Random Forest-based machine learning algorithm.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc3" />
        <label for="acc3">
          <h2>03</h2>
          <h3>How does PhishGuardian work?</h3>
        </label>
        <div class="content">
          <p>
            PhishGuardian employs advanced machine learning techniques to
            analyze website features and identify potential phishing attempts.
            By leveraging Random Forest algorithms, it efficiently distinguishes
            between legitimate and malicious URLs, providing users with
            real-time protection against phishing scams.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="acc" id="acc4" />
        <label for="acc4">
          <h2>04</h2>
          <h3>Is PhishGuardian user-friendly?</h3>
        </label>
        <div class="content">
          <p>
            Yes, PhishGuardian is designed with user experience in mind. Its
            intuitive interface allows users to easily detect suspicious
            websites and contribute to the collective effort of combating
            phishing attacks. Whether you're a novice or an experienced user,
            PhishGuardian is accessible and straightforward to use.
          </p>
        </div>
      </div>
      <div class="sign-in">
        <a href="/" class="hover-link secondary-btn">Go to Home</a>
      </div>
    </div>
      -->
  </body>
</html>

<div class="container">
  <h1>Frequently Asked Questions?</h1>
  <div class="tab">
    <input type="radio" name="acc" id="acc1" />
    <label for="acc1">
      <h2>01</h2>
      <h3>What is Phishing website?</h3>
    </label>
  </div>

  <!--
  <div class="content">
    <p>
      A phishing website is a fraudulent website that mimics legitimate websites
      to deceive users into divulging sensitive information such as login
      credentials, credit card details, or personal information. These deceptive
      websites often employ social engineering tactics, such as fake login pages
      or email phishing campaigns, to trick users into believing they are
      interacting with a trusted entity. Phishing websites pose a significant
      threat to online security and can lead to identity theft, financial loss,
      or other cybercrimes if users unknowingly provide their information.
    </p>
  </div>
</div>

--></div>
