<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is testing</title>
</head>
<body>
    <h1>hello ubk your the boss</h1><br>
    <form action='\submit' method="post">
        <h1><label for="fname">URl</label></h1><br>
        <input type="text" id="fname" name="fname"><br>
        <input type="submit" value="go"><br>
        <h2> Upload your data set to run a custom scan</h2>
        <input type="file" name="file" >    <br>
        <input type = "submit" value="Upload">
       
      </form>
</body>
</html>